# Aliases
alias :q='logout'
alias be='bundle exec'
alias ccat='ccat --color-code="String=darkgreen" --color-code="Type=brown" --color-code="Keyword=blue" --color-code="Plaintext=lightgray" --color-code="Punctuation=lightgray" --color-code="Decimal=darkred"'
alias chat='ssh -i ~/.ssh/ssh-chat.rsa peterhellberg@chat.shazow.net'
alias coverage='gocov test ./... | gocov report'
alias curl-with-time='curl -w "connect: %{time_connect} start_transfer: %{time_starttransfer} total: %{time_total}\n"'
alias curl='curl -s'
alias go-pi='GOARCH=arm GOARM=5 GOOS=linux go'
alias goconvey='if [ -d "Godeps" ]; then GOCONVEY="goconvey -gobin=godep-go"; else GOCONVEY=goconvey; fi; $GOCONVEY'
alias irb='pry || irb'
alias jsc='/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc'
alias local-ssh-chat='ssh-chat --bind 0.0.0.0:2200 -i ~/.ssh/ssh-chat.rsa --admin 8e:08:d6:e0:65:0c:c0:9c:8c:b4:18:f6:6b:41:d3:fc'
alias love='/Applications/love.app/Contents/MacOS/love'
alias ls='gls --color -F'
alias plot-data='curl --data-binary @- plot-data.herokuapp.com'
alias rake_with_verbose_tests="rake TESTOPTS='-v'"
alias require='cd ~ && pry -r'
alias t='if [ -d "Godeps" ]; then godep go test ./...; else go test ./...; fi'
alias vi='nvim'
alias vim='nvim'

# Service aliases
alias mongod='mongod run --config /usr/local/etc/mongod.conf'
alias elasticsearch_start='elasticsearch -f -D es.config=/usr/local/opt/elasticsearch/config/elasticsearch.yml'
alias default-redis-server='cd && redis-server /usr/local/etc/redis.conf'
alias volatile-redis-server='cd && redis-server /usr/local/etc/volatile-redis.conf'

# Go to current project
alias p='cd `cat $HOME/.current_project`'
alias p.='echo `pwd` > $HOME/.current_project'

## Code7
alias cg='cd ~/Work/Code7/GitHub'
alias c7='cd ~/Work/Code7/GitHub/c7/c7.se/'
alias forks='cd ~/Work/Code7/GitHub/forks'
alias experiments='cd ~/Work/Code7/Experiments/'
alias pgo='cd ~/Go/src/github.com/peterhellberg'

## TV4
alias 4='cd ~/Work/Athega/TV4/GitHub'
alias 4go='cd ~/Go/src/github.com/TV4'
alias tv4-redis-server='redis-server /Users/peter/Work/Athega/TV4/tv4-redis/tv4-redis.conf'
alias tv4-redis-cli='redis-cli -s /tmp/tv4-redis.sock'
alias misc02='ssh -l tv4-http tv4-se-misc02.sth.basefarm.net'
