# Aliases
alias :q='logout'
alias coverage='gocov test $(go list ./... | grep -v /vendor/) | gocov report'
alias curl='curl -s'
alias go-loc='cat $(tree -f -i | grep "\.go" | grep -v vendor | grep -v "_test") | wc -l'
alias go-loc-tests='cat $(tree -f -i | grep "\.go" | grep -v vendor | grep "_test") | wc -l'
alias needs-formatting='goimports -l $(find . -type f -name "*.go" -not -path "./vendor/*")'
alias jsc='/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc'
alias ls='gls --color -F --group-directories-first'
alias spy-clear-gotest='spy -c black clear-gotest $(go list ./... | grep -v /vendor/)'
alias travis-script='if [ -f ".travis.yml" ]; then yaml2json .travis.yml | jq -r ".script|select (.!=null)|.[]" | sh; else echo ".travis.yml missing"; fi'
alias ack='pt'
alias merge-stage-to-master-test-and-push='git checkout master && git pull --rebase && git merge --no-ff stage && golint -set_exit_status && go vet $(go list ./... | grep -v /vendor/) && go test $(go list ./... | grep -v /vendor/) && git push && git checkout stage'
alias dokku='$HOME/.dokku/contrib/dokku_client.sh'
alias note="nvim -c 'r!date' -c 'normal i# ' -c 'normal 2o' -c 'normal O' ~/Dropbox/Documents/notes.md"
alias n="note"

# Service aliases
alias mongod='mongod run --config /usr/local/etc/mongod.conf'
alias elasticsearch_start='elasticsearch -f -D es.config=/usr/local/opt/elasticsearch/config/elasticsearch.yml'
alias default-redis-server='cd && redis-server /usr/local/etc/redis.conf'
alias volatile-redis-server='cd && redis-server /usr/local/etc/volatile-redis.conf'

# Go to current project
alias p='cd `cat $HOME/.current_project`'
alias p.='echo `pwd` > $HOME/.current_project'

## Code7
alias cg='cd ~/Work/Code7/GitHub'
alias c7='cd ~/Work/Code7/GitHub/c7/c7.se/'
alias c7go='cd ~/Go/src/github.com/c7'
alias forks='cd ~/Work/Code7/GitHub/forks'
alias experiments='cd ~/Work/Code7/Experiments/'
alias ago='cd ~/Go/src/github.com/athega'
alias pgo='cd ~/Go/src/github.com/peterhellberg'
alias goexperiments='cd ~/Go/src/experiments'

## TV4
alias 4='cd ~/Work/Athega/TV4/GitHub'
alias 4go='cd ~/Go/src/github.com/TV4'

## SYB
alias sgo='cd ~/Go/src/github.com/soundtrackyourbrand'
alias core='cd ~/Go/src/github.com/soundtrackyourbrand/syb-core/'
alias billing="cd ~/Go/src/github.com/soundtrackyourbrand/syb-core/billing"
alias sybp='syb -env="production"'
alias sybs='syb -env="staging"'
alias sybdocuments='cd /Users/peter/Work/Athega/SYB/Documents'
alias sybnote="nvim -c 'r!date' -c 'normal i# ' -c 'normal 2o' -c 'normal O' ~/Work/Athega/SYB/Documents/`date +%F`-syb-notes.md"
alias sn="sybnote"
