# Aliases
alias :q='logout'
alias be='bundle exec'
alias ccat='ccat --color-code="String=darkgreen" --color-code="Type=brown" --color-code="Keyword=blue" --color-code="Plaintext=lightgray" --color-code="Punctuation=lightgray" --color-code="Decimal=darkred"'
alias chat='ssh -i ~/.ssh/ssh-chat.rsa peterhellberg@chat.shazow.net'
alias coverage='gocov test $(go list ./... | grep -v /vendor/) | gocov report'
alias curl='curl -s'
alias go-pi='GOARCH=arm GOARM=5 GOOS=linux go'
alias go-loc='cat $(tree -f -i | grep "\.go" | grep -v vendor | grep -v "_test") | wc -l'
alias go-loc-tests='cat $(tree -f -i | grep "\.go" | grep -v vendor | grep "_test") | wc -l'
alias goconvey='if [ -d "Godeps" ]; then GOCONVEY="goconvey -gobin=godep-go"; else GOCONVEY=goconvey; fi; $GOCONVEY'
alias needs-formatting='goimports -l $(find . -type f -name "*.go" -not -path "./vendor/*")'
alias irb='pry || irb'
alias jsc='/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc'
alias local-ssh-chat='ssh-chat --bind 0.0.0.0:2200 -i ~/.ssh/ssh-chat.rsa --admin 8e:08:d6:e0:65:0c:c0:9c:8c:b4:18:f6:6b:41:d3:fc'
alias love='/Applications/love.app/Contents/MacOS/love'
alias ls='gls --color -F'
alias require='cd ~ && pry -r'
alias spy-clear-godep-go-test='if [ -d "Godeps" ]; then spy clear-godep-go test $(go list ./... | grep -v /vendor/); else spy clear-go test $(go list ./... | grep -v /vendor/); fi'
alias travis-script='if [ -f ".travis.yml" ]; then yaml2json .travis.yml | jq -r ".script|select (.!=null)|.[]" | sh; else echo ".travis.yml missing"; fi'
alias t='if [ -d "Godeps" ]; then godep go test ./...; else go test ./...; fi'
alias ack='pt'
alias gpg='gpg1'
alias bff-master-beta-diff='cd ~/Go/src/github.com/TV4/cmore-mobile-bff && git checkout master && git pull --rebase && git checkout stage && clear && git log --reverse --pretty="%h %an: %s" --abbrev-commit --no-merges master..beta'

# Service aliases
alias mongod='mongod run --config /usr/local/etc/mongod.conf'
alias elasticsearch_start='elasticsearch -f -D es.config=/usr/local/opt/elasticsearch/config/elasticsearch.yml'
alias default-redis-server='cd && redis-server /usr/local/etc/redis.conf'
alias volatile-redis-server='cd && redis-server /usr/local/etc/volatile-redis.conf'

# Go to current project
alias p='cd `cat $HOME/.current_project`'
alias p.='echo `pwd` > $HOME/.current_project'

## Code7
alias cg='cd ~/Work/Code7/GitHub'
alias c7='cd ~/Work/Code7/GitHub/c7/c7.se/'
alias forks='cd ~/Work/Code7/GitHub/forks'
alias experiments='cd ~/Work/Code7/Experiments/'
alias pgo='cd ~/Go/src/github.com/peterhellberg'

## TV4
alias 4='cd ~/Work/Athega/TV4/GitHub'
alias 4go='cd ~/Go/src/github.com/TV4'
alias tv4-redis-server='redis-server /Users/peter/Work/Athega/TV4/tv4-redis/tv4-redis.conf'
alias tv4-redis-cli='redis-cli -s /tmp/tv4-redis.sock'
