[user]
  name = Peter Hellberg
  email = peter@c7.se
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[core]
  excludesfile = /Users/peter/.gitignore
[alias]
  l = log --graph --pretty=format:'%C(yellow)%h %Cgreen%ae%Creset (%ar): %s'
