[user]
  name = Peter Hellberg
  email = peter@c7.se
  signingkey = D60BC6C4
[includeIf "gitdir:~/Go/src/github.com/CUSTOMER/"]
  path = ~/.gitconfig-CUSTOMER
[includeIf "gitdir:~/Code/GitHub/CUSTOMER/"]
  path = ~/.gitconfig-CUSTOMER
[includeIf "gitdir:~/Code/GitHub/athega/"]
  path = ~/.gitconfig-athega
[fetch]
  prune = true
[push]
	default = upstream
  followTags = true
  autoSetupRemote = true
[apply]
  whitespace = nowarn
[core]
  excludesfile = /Users/peter/.gitignore
[alias]
  l = log --graph --pretty=format:'%C(yellow)%h %Cgreen%ae%Creset (%ar): %s'
  churn = !git --no-pager log --name-only --oneline | grep -v ' ' | sort | uniq -c | sort -nr | head
  undo-commit = reset --soft HEAD^
  authors = shortlog -sne --no-merges -w1024,0,0
  master-stage = log --reverse --pretty=format:'%C(yellow)%h %Cgreen%an%Creset (%ar): %s' --abbrev-commit master..stage
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
  list = ! "git log main.. --reverse --pretty=format:\"%s\" | awk '{print \"- [X] \"$0 }'"
  list-stage = ! "git log stage.. --reverse --pretty=format:\"%s\" | awk '{print \"- [X] \"$0 }'"
  list-master = ! "git log master.. --reverse --pretty=format:\"%s\" | awk '{print \"- [X] \"$0 }'"
[init]
	defaultBranch = main
[branch]
  autosetuprebase = always
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  algorithm = patience
  compactionHeuristic = true
[commit]
  gpgsign = true
[http "https://gopkg.in"]
	followRedirects = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
  rebase = true
[merge]
  ff = only
[gpg]
	program = gpg
