[submodule ".janus/vim-powerline"]
	path = .janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".janus/vim-markdown-preview"]
	path = .janus/vim-markdown-preview
	url = https://github.com/nelstrom/vim-markdown-preview.git
[submodule ".janus/vim-slim"]
	path = .janus/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule ".janus/vim-arduino"]
	path = .janus/vim-arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule ".janus/BusyBee"]
	path = .janus/BusyBee
	url = git://github.com/vim-scripts/BusyBee.git
