# Aliases
alias ls='gls --color -F --group-directories-first'
alias curl='curl -s'
alias needs-formatting='goimports -l $(find . -type f -name "*.go" -not -path "./vendor/*")'
alias jsc='/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc'
alias travis-script='if [ -f ".travis.yml" ]; then yaml2json .travis.yml | jq -r ".script|select (.!=null)|.[]" | sh; else echo ".travis.yml missing"; fi'
alias merge-stage-to-master-test-and-push='git checkout master && git pull --rebase && git merge --no-ff stage && golint -set_exit_status && go vet $(go list ./... | grep -v /vendor/) && go test $(go list ./... | grep -v /vendor/) && git push && git checkout stage'
alias note="nvim -c 'r!date' -c 'normal i# ' -c 'normal 2o' -c 'normal O' ~/Dropbox/Documents/notes.md"
alias n="note"
alias gpg="gpg --default-recipient-self"
alias sl="ls"

# Go aliases
alias goexperiments='cd ~/Go/src/experiments'
alias coverage='gocov test $(go list ./... | grep -v /vendor/) | gocov report'
alias spy-clear-gotest='spy --exc *.log --exc *.csv --exc *.svg -c black clear-gotest $(go list ./...)'
alias spy-clear-go-run-imgcat='spy --exc *.png -q clear-go-run-imgcat'
alias spy-clear-go='spy --exc output -q clear-go'
alias spy-clear-gotest-uncached='spy -c black clear-gotest -count=1 $(go list ./...)'
alias spy-clear-gotest-integration='spy -c black clear-gotest -tags=integration $(go list ./...)'

# Zig aliases
alias spy-clear-zig='spy --exc zig-cache --inc "**/*.zig" -q clear-zig'
alias zig-build-list-steps="zig build -l | grep -v install | awk '{print \"zig build \"\$1}'"
alias zigup='zigup --install-dir ~/.zig/'
alias zbr='zig build run'

# Go to current project
alias p='cd `cat $HOME/.current_project`'
alias p.='echo `pwd` > $HOME/.current_project'

## Code7
alias cg='cd ~/Code/GitHub'
alias c7='cd ~/Code/GitHub/c7/c7.se/'
alias c7go='cd ~/Go/src/github.com/c7'
alias forks='cd ~/Work/Code7/GitHub/forks'
alias experiments='cd ~/Work/Code7/Experiments/'
alias ago='cd ~/Go/src/github.com/athega'
alias pgo='cd ~/Go/src/github.com/peterhellberg'

## Git aliases
alias git-push-tag="git push --atomic origin main"
alias grimaster="git rebase --exec 'git commit --amend --no-edit -n -S' -i master"
alias grimain="git rebase --exec 'git commit --amend --no-edit -n -S' -i main"
alias gristage="git rebase --exec 'git commit --amend --no-edit -n -S' -i stage"
alias gri="git rebase --exec 'git commit --amend --no-edit -n -S' -i"
alias gs='git status'

## Misc
alias vim='nvim -u ~/.dotfiles/macos/nvim/init.lua'
alias vi='nvim -u ~/.dotfiles/macos/nvim/init.lua'
alias li='nvim -u ~/.dotfiles/macos/nvim/li.lua'
alias lim='nvim -u ~/.dotfiles/macos/nvim/light.lua'
alias pair="upterm host --force-command 'tmux attach -t pair-programming' -- tmux new -t pair-programming"
alias filllight="keylight -a http://filllight:9123"
alias ack='pt --ignore="vendor" --global-gitignore'
alias pt='pt --ignore="vendor" --global-gitignore'
alias :q='logout'
alias litecli='uvx litecli'

alias ssh='TERM=xterm-256color ssh'
alias r='runme --project .'
