# Aliases
alias curl='curl -s'
alias needs-formatting='goimports -l $(find . -type f -name "*.go" -not -path "./vendor/*")'
alias note='nvim -c "r!date +\%Y-\%m-\%d\ \%H:\%M" -c "normal i# " -c "normal 2o" -c "normal O" ~/Documents/Notes/notes.md'
alias gpg="gpg --default-recipient-self"
alias sl="ls"

# Go aliases
alias goexperiments='cd ~/Go/src/experiments'
alias coverage='gocov test $(go list ./... | grep -v /vendor/) | gocov report'
alias spy-clear-gotest='spy --exc *.log --exc *.csv --exc *.svg -c black clear-gotest $(go list ./...)'
alias spy-clear-go-run-imgcat='spy --exc *.png -q clear-go-run-imgcat'
alias spy-clear-go='spy --exc output -q clear-go'
alias spy-clear-gotest-uncached='spy -c black clear-gotest -count=1 $(go list ./...)'
alias spy-clear-gotest-integration='spy -c black clear-gotest -tags=integration $(go list ./...)'

# Zig aliases
alias spy-clear-zig='spy --exc .zig-cache --inc "**/*.zig" -q clear-zig'
alias zig-build-list-steps="zig build -l | grep -v install | awk '{print \"zig build \"\$1}'"
alias zigup='zigup --install-dir ~/.zig/'
alias zbr='zig build run'

# Go to current project
alias p='cd `cat $HOME/.current_project`'
alias p.='echo `pwd` > $HOME/.current_project'

## Code7
alias cg='cd ~/Code/GitHub'
alias c7='cd ~/Code/GitHub/c7/c7.se/'
alias c7go='cd ~/Go/src/github.com/c7'
alias forks='cd ~/Work/Code7/GitHub/forks'
alias experiments='cd ~/Work/Code7/Experiments/'
alias ago='cd ~/Go/src/github.com/athega'
alias pgo='cd ~/Go/src/github.com/peterhellberg'
alias sgo='cd ~/Go/src/github.com/stimtech'

## Git aliases
alias git-push-tag="git push --atomic origin main"
alias grimaster="git rebase --exec 'git commit --amend --no-edit -n -S' -i master"
alias grimain="git rebase --exec 'git commit --amend --no-edit -n -S' -i main"
alias gristage="git rebase --exec 'git commit --amend --no-edit -n -S' -i stage"
alias gri="git rebase --exec 'git commit --amend --no-edit -n -S' -i"
alias gs='git status'

## Wiki
alias diary='nvim +":VimwikiMakeDiaryNote"'
alias diary-tomorrow='nvim +":VimwikiMakeTomorrowDiaryNote"'
alias diary-yesterday='nvim +":VimwikiMakeYesterdayDiaryNote"'
alias diary-index='nvim +":silent VimwikiDiaryIndex"'

## Misc
alias vim='nvim'
alias vi='nvim'
alias li='nvim -u ~/.dotfiles/macos/nvim/light.lua'
alias pair="upterm host --force-command 'tmux attach -t pair-programming' -- tmux new -t pair-programming"
alias filllight="keylight -a http://filllight:9123"
alias ack='pt --ignore="vendor" --global-gitignore'
alias pt='pt --ignore="vendor" --global-gitignore'
alias :q='logout'
alias litecli='uvx litecli'
alias grep='grep --color=auto'
