# Snippets for Go

priority -10

# sub test function
snippet trun "t.Run(name, func(t *testing.T) { ... })" bA
	t.Run("${1}", func(t *testing.T) {
		${2:${VISUAL}}
	})

# sub benchmark function
snippet brun "b.Run(name, func(b *testing.B) { ... })" bA
	b.Run("${1}", func(b *testing.B) {
		${2:${VISUAL}}
	})

# fuzz function
snippet fuzz "func FuzzFunction(f *testing.F) { ... }"
	func Fuzz${1:Function}(f *testing.F) {
		f.Fuzz(func(t *testing.T, ${2:args}) {
			${0:${VISUAL}}
		})
	}
